.main-nav {
    padding-left: 20px;
    min-height: 70px;
}

.navbar-toggler, .navbar-toggler:hover {
    border: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 40, 95, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-logo-text, .nav-logo-text:hover{
    color: #00285F
}

.nav-logo-text h4{
    text-align: center;
    font-size: 30px;
}

.main-menu { 
    display: flex;
    font-size: 18px;
    font-weight: 400px;
    width: 170px;
    justify-content: space-between;
}

.main-menu a:hover{
    font-weight: 700;
}

.main-menu a.active{
    font-weight: 700;
}


@media (min-width: 768px){
    #carros-top {
        padding-left: 365px;
    }
}

@media (min-width: 992px) {
    #carros-top {
        padding-left: 570px;
    }
}